# EDA for HomeScope dataset

In [1]:
import pandas as pd
import numpy as np

## Read data

In [ ]:
df = pd.read_parquet("../data/raw/HouseListings.csv", encoding='latin-1')
df

,City,Price,Address,Number_Beds,Number_Baths,Province,Population,Latitude,Longitude,Median_Family_Income
0,Toronto,779900.0,#318 -20 SOUTHPORT ST,3,2,Ontario,5647656,43.7417,-79.3733,97000.0
1,Toronto,799999.0,#818 -60 SOUTHPORT ST,3,1,Ontario,5647656,43.7417,-79.3733,97000.0
2,Toronto,799900.0,#714 -859 THE QUEENSWAY,2,2,Ontario,5647656,43.7417,-79.3733,97000.0
3,Toronto,1200000.0,275 MORTIMER AVE,4,2,Ontario,5647656,43.7417,-79.3733,97000.0
4,Toronto,668800.0,#420 -388 RICHMOND ST,1,1,Ontario,5647656,43.7417,-79.3733,97000.0
...,...,...,...,...,...,...,...,...,...,...
35763,Halifax,439900.0,301 60 Walter Havill Drive,2,2,Nova Scotia,431479,44.8857,63.1005,86753.0
35764,Halifax,6990000.0,1160 Rockcliffe Street,5,5,Nova Scotia,431479,44.8857,63.1005,86753.0
35765,Halifax,419900.0,212 60 Walter Havill Drive,2,2,Nova Scotia,431479,44.8857,63.1005,86753.0
35766,Halifax,949900.0,10 Idlewylde Road,3,1,Nova Scotia,431479,44.8857,63.1005,86753.0
35767,Halifax,592900.0,208 2842-2856 Gottingen,2,1,Nova Scotia,431479,44.8857,63.1005,86753.0

## Dataset at a glance

In [3]:
print(f'There are {len(df)} rows and {len(df.columns)} variables in the dataset, which are {df.columns.to_list()}.')

There are 35768 rows and 10 variables in the dataset, which are ['City', 'Price', 'Address', 'Number_Beds', 'Number_Baths', 'Province', 'Population', 'Latitude', 'Longitude', 'Median_Family_Income'].

In [5]:
df.describe()

,Price,Number_Beds,Number_Baths,Population,Latitude,Longitude,Median_Family_Income
count,3.576800e+04,35768.000000,35768.000000,3.576800e+04,35768.000000,35768.000000,35768.000000
mean,9.432963e+05,3.283661,2.532403,6.360151e+05,47.446556,-98.421636,89643.103416
std,1.020110e+06,1.730654,1.371910,1.120016e+06,3.333855,22.280935,12132.353510
min,2.150000e+04,0.000000,0.000000,6.338200e+04,42.283300,-123.936400,62400.000000
25%,4.599000e+05,2.000000,2.000000,1.091670e+05,43.866700,-122.316700,82000.000000
50%,6.990000e+05,3.000000,2.000000,2.424600e+05,49.025000,-104.606700,89000.000000
75%,1.095000e+06,4.000000,3.000000,5.228880e+05,49.888100,-79.866700,97000.000000
max,3.700000e+07,109.000000,59.000000,5.647656e+06,53.916900,63.100500,133000.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35768 entries, 0 to 35767
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  35768 non-null  object
 1   Price                 35768 non-null  float64
 2   Address               35768 non-null  object
 3   Number_Beds           35768 non-null  int64
 4   Number_Baths          35768 non-null  int64
 5   Province              35768 non-null  object
 6   Population            35768 non-null  int64
 7   Latitude              35768 non-null  float64
 8   Longitude             35768 non-null  float64
 9   Median_Family_Income  35768 non-null  float64
dtypes: float64(4), int64(3), object(3)
memory usage: 2.7+ MB

## Investigate housing price by each city

In [30]:
df.groupby('City')['Price'].mean().round(3).to_dict()

{'Abbotsford': 1337250.597,
 'Airdrie': 735905.369,
 'Barrie': 1048262.802,
 'Brantford': 955923.389,
 'Burnaby': 1329514.223,
 'Caledon': 1383365.902,
 'Calgary': 660046.356,
 'Edmonton': 425582.01,
 'Guelph': 1064623.147,
 'Halifax': 794771.088,
 'Hamilton': 975543.002,
 'Kamloops': 748536.072,
 'Kelowna': 1037283.021,
 'Kingston': 769607.307,
 'Kitchener': 923526.612,
 'Lethbridge': 443627.021,
 'London': 797627.096,
 'Maple Ridge': 1497012.486,
 'Medicine Hat': 448137.491,
 'Moncton': 437985.8,
 'Montreal': 931392.288,
 'Nanaimo': 866077.599,
 'New Westminster': 1183541.827,
 'Oshawa': 989062.189,
 'Ottawa': 783759.2,
 'Peterborough': 798827.192,
 'Prince George': 528889.834,
 'Quebec': 437915.949,
 'Red Deer': 485932.181,
 'Regina': 337922.032,
 'Saint John': 395167.24,
 'Saskatoon': 470776.383,
 'Sault Ste. Marie': 425135.685,
 'Sherbrooke': 513548.847,
 'St. Catharines': 883022.33,
 "St. John's": 438037.174,
 'Sudbury': 596087.389,
 'Thunder Bay': 459703.247,
 'Toronto': 1235288.774,
 'Trois-Rivieres': 491459.321,
 'Vancouver': 1851758.694,
 'Victoria': 1193434.245,
 'White Rock': 2220779.64,
 'Windsor': 643018.917,
 'Winnipeg': 499155.203}

In [31]:
df.groupby(['Province','City'])['Price'].mean().round(3).sort_values(ascending=False)

Province                   City
British Columbia           White Rock          2220779.640
                           Vancouver           1851758.694
                           Maple Ridge         1497012.486
Ontario                    Caledon             1383365.902
British Columbia           Abbotsford          1337250.597
                           Burnaby             1329514.223
Ontario                    Toronto             1235288.774
                           Winnipeg            1229000.000
British Columbia           Victoria            1193434.245
                           New Westminster     1183541.827
Ontario                    Saskatoon           1137400.000
                           Guelph              1064623.147
                           Barrie              1048262.802
British Columbia           Kelowna             1037283.021
Ontario                    Oshawa               989062.189
                           Hamilton             975543.002
                           Brantford            955923.389
Quebec                     Montreal             931392.288
Ontario                    Kitchener            923526.612
                           St. Catharines       883022.330
British Columbia           Nanaimo              867889.691
Ontario                    Peterborough         798827.192
                           London               797627.096
Nova Scotia                Halifax              794771.088
Ontario                    Ottawa               783759.200
                           Nanaimo              770000.000
                           Kingston             769607.307
British Columbia           Kamloops             748536.072
Alberta                    Airdrie              735905.369
                           Calgary              660046.356
Ontario                    Windsor              643018.917
                           Sudbury              596087.389
British Columbia           Prince George        528889.834
Quebec                     Sherbrooke           513548.847
Manitoba                   Winnipeg             497778.138
Quebec                     Trois-Rivieres       491459.321
Newfoundland and Labrador  Nanaimo              487966.667
Alberta                    Red Deer             485932.181
Saskatchewan               Saskatoon            467800.384
Ontario                    Thunder Bay          459703.247
Alberta                    Medicine Hat         448137.491
                           Lethbridge           443627.021
Newfoundland and Labrador  St. John's           438037.174
New Brunswick              Moncton              437985.800
Quebec                     Quebec               437915.949
Alberta                    Edmonton             425582.010
Ontario                    Sault Ste. Marie     425135.685
                           Regina               399900.000
New Brunswick              Saint John           395167.240
Saskatchewan               Regina               337857.303
Name: Price, dtype: float64

## Median family income by each city

In [32]:
df.groupby(['City'])['Median_Family_Income'].mean()

City
Abbotsford           91000.0
Airdrie             110000.0
Barrie               97000.0
Brantford            85000.0
Burnaby              83000.0
Caledon             133000.0
Calgary             100000.0
Edmonton             96000.0
Guelph               97000.0
Halifax              86753.0
Hamilton             91000.0
Kamloops             87000.0
Kelowna              85000.0
Kingston             83000.0
Kitchener            92000.0
Lethbridge           84000.0
London               79500.0
Maple Ridge         105000.0
Medicine Hat         78000.0
Moncton              74500.0
Montreal             76000.0
Nanaimo              77500.0
New Westminster      82000.0
Oshawa              102000.0
Ottawa               98000.0
Peterborough         79000.0
Prince George        88000.0
Quebec               76500.0
Red Deer             85000.0
Regina               90000.0
Saint John           74000.0
Saskatoon            89000.0
Sault Ste. Marie     73000.0
Sherbrooke           65000.0
St. Catharines       77000.0
St. John's           85000.0
Sudbury              84000.0
Thunder Bay          80000.0
Toronto              97000.0
Trois-Rivieres       62400.0
Vancouver            90000.0
Victoria             85000.0
White Rock           73000.0
Windsor              82000.0
Winnipeg             83000.0
Name: Median_Family_Income, dtype: float64

In [25]:
# df.query('Province == "Ontario"')

## Median population by each province

In [33]:
df.groupby(['Province'])['Population'].mean()

Province
Alberta                      8.731515e+05
British Columbia             4.333778e+05
Manitoba                     7.585150e+05
New Brunswick                9.364127e+04
Newfoundland and Labrador    1.852021e+05
Nova Scotia                  4.314790e+05
Ontario                      8.528788e+05
Quebec                       1.272569e+06
Saskatchewan                 2.456133e+05
Name: Population, dtype: float64

In [ ]:
city = 'Vancouver'

In [38]:
df_num = df.groupby('City')['Number_Beds'].value_counts().reset_index()
df_num
# Assuming df_num is your DataFrame with 'City', 'Number_Beds', and 'count' columns
top_5_beds_per_city = df_num.groupby('City').apply(lambda x: x.nlargest(5, 'count')).reset_index(drop=True)

# top_5_beds_per_city
top_5_per_city = (df_num.sort_values(['City', 'count'], ascending=[True, False])
                                 .groupby('City')
                                 .head(5))
top_5_per_city

/var/folders/kt/zrn10h8n47vdkx2k7n6dcx_m0000gn/T/ipykernel_7974/3313201208.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_5_beds_per_city = df_num.groupby('City').apply(lambda x: x.nlargest(5, 'count')).reset_index(drop=True)

           City  Number_Beds  count
0    Abbotsford            2    179
1    Abbotsford            4    142
2    Abbotsford            3    130
3    Abbotsford            5    125
4    Abbotsford            6     87
..          ...          ...    ...
475    Winnipeg            3    185
476    Winnipeg            4    122
477    Winnipeg            2    110
478    Winnipeg            0     49
479    Winnipeg            5     37

[225 rows x 3 columns]

In [10]:
df.rename(columns={'Number_Beds': 'Bedrooms', 
                               'Number_Baths': 'Bathrooms',
                               'Median_Family_Income': 'Median Family Income'}, inplace=True)
df

,City,Price,Address,Bedrooms,Bathrooms,Province,Population,Latitude,Longitude,Median Family Income
0,Toronto,779900.0,#318 -20 SOUTHPORT ST,3,2,Ontario,5647656,43.7417,-79.3733,97000.0
1,Toronto,799999.0,#818 -60 SOUTHPORT ST,3,1,Ontario,5647656,43.7417,-79.3733,97000.0
2,Toronto,799900.0,#714 -859 THE QUEENSWAY,2,2,Ontario,5647656,43.7417,-79.3733,97000.0
3,Toronto,1200000.0,275 MORTIMER AVE,4,2,Ontario,5647656,43.7417,-79.3733,97000.0
4,Toronto,668800.0,#420 -388 RICHMOND ST,1,1,Ontario,5647656,43.7417,-79.3733,97000.0
...,...,...,...,...,...,...,...,...,...,...
35763,Halifax,439900.0,301 60 Walter Havill Drive,2,2,Nova Scotia,431479,44.8857,63.1005,86753.0
35764,Halifax,6990000.0,1160 Rockcliffe Street,5,5,Nova Scotia,431479,44.8857,63.1005,86753.0
35765,Halifax,419900.0,212 60 Walter Havill Drive,2,2,Nova Scotia,431479,44.8857,63.1005,86753.0
35766,Halifax,949900.0,10 Idlewylde Road,3,1,Nova Scotia,431479,44.8857,63.1005,86753.0
35767,Halifax,592900.0,208 2842-2856 Gottingen,2,1,Nova Scotia,431479,44.8857,63.1005,86753.0

In [11]:
df

,City,Price,Address,Bedrooms,Bathrooms,Province,Population,Latitude,Longitude,Median Family Income
0,Toronto,779900.0,#318 -20 SOUTHPORT ST,3,2,Ontario,5647656,43.7417,-79.3733,97000.0
1,Toronto,799999.0,#818 -60 SOUTHPORT ST,3,1,Ontario,5647656,43.7417,-79.3733,97000.0
2,Toronto,799900.0,#714 -859 THE QUEENSWAY,2,2,Ontario,5647656,43.7417,-79.3733,97000.0
3,Toronto,1200000.0,275 MORTIMER AVE,4,2,Ontario,5647656,43.7417,-79.3733,97000.0
4,Toronto,668800.0,#420 -388 RICHMOND ST,1,1,Ontario,5647656,43.7417,-79.3733,97000.0
...,...,...,...,...,...,...,...,...,...,...
35763,Halifax,439900.0,301 60 Walter Havill Drive,2,2,Nova Scotia,431479,44.8857,63.1005,86753.0
35764,Halifax,6990000.0,1160 Rockcliffe Street,5,5,Nova Scotia,431479,44.8857,63.1005,86753.0
35765,Halifax,419900.0,212 60 Walter Havill Drive,2,2,Nova Scotia,431479,44.8857,63.1005,86753.0
35766,Halifax,949900.0,10 Idlewylde Road,3,1,Nova Scotia,431479,44.8857,63.1005,86753.0
35767,Halifax,592900.0,208 2842-2856 Gottingen,2,1,Nova Scotia,431479,44.8857,63.1005,86753.0