# EDA for Estates-Track dataset

In [1]:
import pandas as pd
import numpy as np

## Read data

In [2]:
df = pd.read_csv("../data/raw/HouseListings.csv", encoding='latin-1')
df

,City,Price,Address,Number_Beds,Number_Baths,Province,Population,Latitude,Longitude,Median_Family_Income
0,Toronto,779900.0,#318 -20 SOUTHPORT ST,3,2,Ontario,5647656,43.7417,-79.3733,97000.0
1,Toronto,799999.0,#818 -60 SOUTHPORT ST,3,1,Ontario,5647656,43.7417,-79.3733,97000.0
2,Toronto,799900.0,#714 -859 THE QUEENSWAY,2,2,Ontario,5647656,43.7417,-79.3733,97000.0
3,Toronto,1200000.0,275 MORTIMER AVE,4,2,Ontario,5647656,43.7417,-79.3733,97000.0
4,Toronto,668800.0,#420 -388 RICHMOND ST,1,1,Ontario,5647656,43.7417,-79.3733,97000.0
...,...,...,...,...,...,...,...,...,...,...
35763,Halifax,439900.0,301 60 Walter Havill Drive,2,2,Nova Scotia,431479,44.8857,63.1005,86753.0
35764,Halifax,6990000.0,1160 Rockcliffe Street,5,5,Nova Scotia,431479,44.8857,63.1005,86753.0
35765,Halifax,419900.0,212 60 Walter Havill Drive,2,2,Nova Scotia,431479,44.8857,63.1005,86753.0
35766,Halifax,949900.0,10 Idlewylde Road,3,1,Nova Scotia,431479,44.8857,63.1005,86753.0
35767,Halifax,592900.0,208 2842-2856 Gottingen,2,1,Nova Scotia,431479,44.8857,63.1005,86753.0

## Dataset at a glance

In [3]:
print(f'There are {len(df)} rows and {len(df.columns)} variables in the dataset, which are {df.columns.to_list()}.')

There are 35768 rows and 10 variables in the dataset, which are ['City', 'Price', 'Address', 'Number_Beds', 'Number_Baths', 'Province', 'Population', 'Latitude', 'Longitude', 'Median_Family_Income'].

In [5]:
df.describe()

,Price,Number_Beds,Number_Baths,Population,Latitude,Longitude,Median_Family_Income
count,3.576800e+04,35768.000000,35768.000000,3.576800e+04,35768.000000,35768.000000,35768.000000
mean,9.432963e+05,3.283661,2.532403,6.360151e+05,47.446556,-98.421636,89643.103416
std,1.020110e+06,1.730654,1.371910,1.120016e+06,3.333855,22.280935,12132.353510
min,2.150000e+04,0.000000,0.000000,6.338200e+04,42.283300,-123.936400,62400.000000
25%,4.599000e+05,2.000000,2.000000,1.091670e+05,43.866700,-122.316700,82000.000000
50%,6.990000e+05,3.000000,2.000000,2.424600e+05,49.025000,-104.606700,89000.000000
75%,1.095000e+06,4.000000,3.000000,5.228880e+05,49.888100,-79.866700,97000.000000
max,3.700000e+07,109.000000,59.000000,5.647656e+06,53.916900,63.100500,133000.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35768 entries, 0 to 35767
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  35768 non-null  object
 1   Price                 35768 non-null  float64
 2   Address               35768 non-null  object
 3   Number_Beds           35768 non-null  int64
 4   Number_Baths          35768 non-null  int64
 5   Province              35768 non-null  object
 6   Population            35768 non-null  int64
 7   Latitude              35768 non-null  float64
 8   Longitude             35768 non-null  float64
 9   Median_Family_Income  35768 non-null  float64
dtypes: float64(4), int64(3), object(3)
memory usage: 2.7+ MB

## Investigate housing price by each city

In [26]:
# df.groupby('City')['Price'].mean().round(3).to_dict()

In [27]:
# df.groupby(['Province','City'])['Price'].mean().round(3).sort_values(ascending=False)

## Median family income by each city

In [28]:
# df.groupby(['City'])['Median_Family_Income'].mean()

In [25]:
# df.query('Province == "Ontario"')

## Median population by each province

In [29]:
# df.groupby(['Province'])['Population'].mean()